body {
  font-family: Inter, sans-serif;
  margin: 0;
  background: light-dark(hsl(0 0 65%), hsl(0 0 40%));
  color: light-dark(black, white);
  font-size: 16px;
  color-scheme: light dark;
}

code {
  font-family: 'JetBrains Mono', monospace;
}

#app {
  position: fixed;
  inset: 0;
  display: grid;
  grid-template-columns: 340px 1fr;
  overflow: hidden;
}

#colors {
  display: grid;
  grid-auto-rows: max-content;
  gap: 2px;
  padding: 10px;
  overflow: auto;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 10px 10px;
  overflow: auto;

  h1 {
    --gradient-stop: oklch(0.5 0.14 0);

    @media (prefers-color-scheme: dark) {
      --gradient-stop: oklch(0.75 0.18 0);
    }

    margin: 0;
    background: linear-gradient(
      to right in oklch longer hue,
      var(--gradient-stop),
      var(--gradient-stop)
    );
    color: transparent;
    background-clip: text;
  }

  h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h2 + * {
    margin-top: 0 !important;
  }

  p {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.5;
    opacity: 0.6;
    margin-top: 0;
    margin-bottom: 10px;
  }

  details {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-block: 5px;
    padding-inline: 10px;
    background: rgb(from white r g b / 0.2);
    border-radius: 10px;

    @media (prefers-color-scheme: dark) {
      background: rgb(from black r g b / 0.2);
    }

    summary {
      font-size: 15px;
      font-weight: 500;
      user-select: none;
    }

    summary + * {
      margin-top: 10px;
    }

    :last-child {
      margin-bottom: 0;
    }
  }

  input {
    margin-left: 0;
    margin-right: 10px;
    padding-inline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    width: 60px;
  }

  span {
    vertical-align: middle;
  }
}

label {
  display: block;
  padding: 2px 4px;
  user-select: none;

  &:has(input[type='checkbox']):hover {
    background: rgb(from white r g b / 0.2);
  }
}

.color {
  --text-opacity: 0.4;

  container-type: inline-size;
  position: relative;
  aspect-ratio: 1 / 1;
  box-shadow: 0 0 0 1px hsl(0 0 100 / 0.25) inset;
  background: var(--final-color);
  align-content: end;
  overflow: hidden;
  border-radius: 10%;

  .color-label {
    position: absolute;
    bottom: 5cqw;
    right: 5cqw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 900;
    font-size: 10cqw;
    text-align: right;
    color: contrast-color(var(--final-color));
    opacity: var(--text-opacity);
  }

  &:hover {
    --text-opacity: 0.8;
  }
}

.sub-color {
  --gap: 5cqw;

  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--gap);
  width: calc(50% - var(--gap) * 1.5);
  aspect-ratio: 3 / 2;
  font-family: 'JetBrains Mono', monospace;
  font-size: 10cqw;
  font-weight: 900;
  box-shadow: 0 0 0 1px rgb(from white r g b / 0.2) inset;
  border-radius: 6cqw;

  &.base {
    left: var(--gap);
    background: var(--base-color);
    color: rgb(from contrast-color(var(--base-color)) r g b / var(--text-opacity));
  }

  &.mix {
    right: var(--gap);
    background: var(--mix-color);
    color: rgb(from contrast-color(var(--mix-color)) r g b / var(--text-opacity));
  }
}

.settings:has(#show-lightness:not(:checked)) ~ #colors .l-label,
.settings:has(#show-chroma:not(:checked)) ~ #colors .c-label,
.settings:has(#show-hue:not(:checked)) ~ #colors .h-label,
.settings:has(#show-hex:not(:checked)) ~ #colors .hex-label,
.settings:has(#show-base-color:not(:checked)) ~ #colors .sub-color.base,
.settings:has(#show-mix-color:not(:checked)) ~ #colors .sub-color.mix {
  display: none;
}
